* {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
	margin: 0;
	margin-right: -50px;
}